.vscode/**
.vscode-test/**
node_modules/**
src/**
.gitignore
.eslintrc.json
.eslintrc.js
.prettierrc
tsconfig.json
tsconfig.*.json
webpack.config.js
**/*.map
**/*.ts
!out/**
out/**/*.map
*.vsix
*.log
.DS_Store
Thumbs.db
